[Desktop Entry]
Categories=
Comment=A FOSS game launcher targeting Windows.
Exec=monarch
Icon=monarch
Name=Monarch
Terminal=false
Type=Application
X-AppImage-Version=1d56db3
